body
{
font-family: Verdana, sans-serif;

}

.header
{
font-size:20px;
font-family:Times New Roman;

}

.Code
{
margin-left: 10px;

}

.type_specifier
{
color : green;
font-weight:bold;
}

.jump_statement
{
color : red;
}
