body
{
	counter-reset:br;
	counter-increment:br;
}

@font-face {
    font-family: myFirstFont;
    src: url(cmunbi.woff);
}

#tex body{
font-family : myFirstFont;

}
#tex .title{
font-family: myFirstFont;
}
.header
{
	font-size: 20px;
	font-family: Courier New;
	text-align: center;
	color: #6678ac;
}

.bordure
{

}

.fin_block
{
	margin: 0;
}

a
{
	text-decoration: none;
}

.Code
{
	font: normal normal 1em/1.2em monospace;
	margin: 0;
	padding: 0;
	vertical-align: top;
	margin-left: 10px;
}

.type_specifier
{
	color: #993333;
}

.jump_statement
{
	color : red;
	font-weight: bold;
}

.jaune
{
	color: #b1b100;
}

.comment
{
	color: #808080;
	font-style: italic;
}

.vert
{
	color: #339933;
}

.nombre
{
	color: #0705e5;
}

.string
{
	color: #f73c22;
}

.numerotation
{
	color: #5c5a5a;
	margin-right: 5px;
}

.indent
{
	margin-left: 20px;
}

.fonction
{
	position: absolute;
	margin-top: 23px;
	margin-left: -35px;
	background-color: #f7f7f7;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
	transform: scale(0) rotate(-13deg);
	transition: all .25s;
	opacity: 0;
}

.variable
{
	position: absolute;
	margin-top: 23px;
	margin-left: -35px;
	background-color: #f7f7f7;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
	transform: scale(0) rotate(-13deg);
	transition: all .25s;
	opacity: 0;
}

.fonction-activable:hover .fonction,.fonction-activable:focus .fonction
{
	transform: scale(1) rotate(0);
	opacity: 1;
}


.variable-activable:hover .variable,.variable-activable:focus .variable
{
	transform: scale(1) rotate(0);
	opacity: 1;
}

a:link
{
text-decoration:none;
}

.line:after
{
content:counter(br)". ";
counter-increment:br;
}

/* unvisited link */
a.LinkParti:link {
    color: black;
}

/* visited link */
a.LinkParti:visited {
    color: black;
}

/* mouse over link */
a.LinkParti:hover {
    background-color:#F2EEEE;
    color: black;
}
/* unvisited link */
a.LinkChap:link {
    color: black;
}

/* visited link */
a.LinkChap:visited {
    color: black;
}

/* mouse over link */
a.LinkChap:hover {
    background-color:#F2EEEE;
    color: black;
}

/* unvisited link */
a.LinkSecs:link {
    color: black;
}

/* visited link */
a.LinkSecs:visited {
    color: black;
}

/* mouse over link */
a.LinkSecs:hover {
    background-color : #F2EEEE;
    color: black;
}
