table
{
	width: 50%;
}


.title
{
	text-align: center;
	line-height:1.5;
}

body
{
	line-height: 1;
	text-align: center;
}

h1
{
	text-align: left;
}

.LinkChap
{
	text-indent: 5px;
}
.LinkSecs
{
	text-indent: 15px;
}

#toc-devant
{
	line-height: 0.1;
	font-size: 20px;
	text-align: left;
}
.bordure
{
	margin-left: 160px;
	border-left-style: solid;
	border-left-color: #626262;
	border-left-width: 1px;
}
.Code
{
	margin-left: 10px;
}
.leftpanel
{
	
	float:left;
	width:150px;
	text-align: left;
}
a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color:black;
}

#Codes{
	text-align:center;
	line-height: 2;
}

#TableOfContents
{
	text-align:left;
	line-height: 1;
}

ul
{
 padding: 1px;
}

